<h1>Todos</h1>

<form class="add-todo" action='/todos' method='post'>
  <input name="todo[body]" type="text" placeholder="What do you want to get done?">
</form>


<% @categories.each do |category| %>
  <h2><%= category || "uncategorized"%></h2>
  <ul class="todo-list">
  <% @todos.each do |todo| %>
    <% if todo.category == category %>
      <li class="todo <%= 'todo--complete' if todo.complete? %>">
        <label class="label label--checkbox">
          <input type="checkbox"
            class="checkbox <%= 'checkbox--checked' if todo.complete? %>">
          <%= todo.body %>
        </label>
        <form action='/categories' method='post'>
          <select id="change_cat" name='categories'>
            <% @categories.each do |cat| %>
              <%if cat == todo.category %>
                <option value ="<%= cat %>" selected><%= cat %></option>
              <% else %>
                <option value ="<%= cat %>"><%= cat %></option>
              <% end %>
            <% end %>
                <option value ="new category">new category</option>
          </select>
        </form>
      </li>
    <% end %>
  <% end %>
  </ul>
<% end %>
